<mat-card [ngClass]="breakpoint | async" class="product">
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <div class="card-content">
    <mat-card-header>
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>{{product.price}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button color="primary">Add to wishlist</button>
      <button mat-button>Add to cart</button>
    </mat-card-actions>
  </div>
</mat-card>
