<div class="content-wrapper">
  <div mat-dialog-content>
    <h1 mat-dialog-title>Add a new product</h1>
    <form [formGroup]="addProductForm" id="addProductForm">
  
      <mat-form-field appearance="fill">
        <mat-label>Enter a title</mat-label>
        <input matInput #input maxlength="100" placeholder="Title" formControlName="title">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Enter a description</mat-label>
        <textarea matInput #input maxlength="2000" placeholder="Description" formControlName="description"></textarea>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Enter the price</mat-label>
        <input matInput #input type="number" placeholder="Price" formControlName="price">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Enter a picture</mat-label>
        <input matInput #input maxlength="100" placeholder="Picture" formControlName="picture">
      </mat-form-field>
  
      <label id="example-radio-group-label">Is the product available?</label>
      <mat-radio-group aria-label="Select an option" formControlName="isAvailable">
        <mat-radio-button [value]=false>No</mat-radio-button>
        <mat-radio-button [value]=true>Yes</mat-radio-button>
      </mat-radio-group>
  
      <mat-form-field appearance="fill">
        <mat-label>Select the category</mat-label>
          <mat-select formControlName="category">
            <mat-option *ngFor="let category of data.categories" [value]="category.id">{{category.name}}</mat-option>
          </mat-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-flat-button color="primary" (click)="submitProduct()">Add product</button>
  </div>
</div>
