mat-card-content
    p
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

.desktop
    width: 300px
    div
        mat-card-content
            padding: 20px
            margin: 0 auto

.handset
    display: flex
    max-width: 220px
    flex-direction: column

.image
    display: flex
    justify-content: center
    align-items: center
    height: 200px
    img
        max-width: 80%
        max-height: 80%