<mat-card class="product" [ngClass]="breakpoint | async" class="product">
  <div class="image">
    <img mat-card-image [src]="product.picture" alt="Photo of the product">
  </div>
  <mat-card-content>
    <span class="mat-subtitle-1"> {{product.title}} </span>
    <span class="mat-headline-6" color="accent"> {{product.price}}€ </span>
  </mat-card-content>
  <mat-card-actions align="end">
    <app-icon-button [button]="addToCartButton"
    ariaLabel="Add product to cart">Add to cart</app-icon-button>
  </mat-card-actions>
</mat-card>
