<div class="product-list">
    @for (product of products(); track product.id) {
        <app-product [product]="product"></app-product>
    }
    <!-- Duplicate products for development purposes -->
    <!-- TODO Remove duplicated products -->
    @for (product of products(); track product.id) {
        <app-product [product]="product"></app-product>
    }
    @for (product of products(); track product.id) {
        <app-product [product]="product"></app-product>
    }
    @for (product of products(); track product.id) {
        <app-product [product]="product"></app-product>
    }
    @for (product of products(); track product.id) {
        <app-product [product]="product"></app-product>
    }
</div>
    
    