

@media only screen and (min-width: 600px)
    mat-grid-list
        width: 530px
        margin-left: auto
        margin-right: auto
        mat-grid-tile
            margin-left: auto
            margin-right: auto