.dialog-header
    display: flex
    justify-content: space-between
    align-items: center

form
    display: flex
    flex-direction: column
    width: 100%
    mat-form-field:last-child
        margin-top:20px

h3
    margin-top: 40px

span
    color: #000000DE


.error-template
    display: flex
    justify-content: center