<div class="content-wrapper">
  <div class="dialog-header">
    <h1 mat-dialog-title class="dialog-title">{{ user.userName }}</h1>
    <span class="role"><em>{{ UserRole[user.role] }}</em></span>
  </div>
	<mat-dialog-content>
    <div class="dialog-content">
      <div class="layout handset-layout"
      *ngIf="layout === Layout.Handset; else desktopLayout">
      <div class="item">
        <h3>First Name</h3>
        <span>{{ user.firstName }}</span>
      </div>
        
      <div class="item">
        <h3>Last Name</h3>
        <span>{{ user.lastName }}</span>
      </div>
        
      <div class="item">
        <h3>Email</h3>
        <span>{{ user.email }}</span>
      </div>
        
      <div class="item">
        <h3>Created On</h3>
        <span>{{ formatDate(user.createdOn, 'yyyy-MM-dd', this._locale) }}</span>
      </div>
        
      <div class="item">
        <h3>Updated On</h3>
        <span>{{ formatDate(user.updatedOn, 'yyyy-MM-dd', this._locale) }}</span>
      </div>
        
      </div>

      <ng-template #desktopLayout>
        <div class="layout desktop-layout">
          <div class="row">
            <div class="column">
              <h3>First Name</h3>
              <span>{{ user.firstName }}</span>
            </div>
            <div class="column">
              <h3>Last Name</h3>
              <span>{{ user.lastName }}</span>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h3>Email</h3>
              <span>{{ user.email }}</span>
            </div>
          </div>
          <div class="row">
            <div class="column">
              <h3>Created On</h3>
              <span>{{ formatDate(user.createdOn, 'yyyy-MM-dd', this._locale) }}</span>
            </div>
            <div class="column">
              <h3>Updated On</h3>
              <span>{{ formatDate(user.updatedOn, 'yyyy-MM-dd', this._locale) }}</span>
            </div>
          </div>
        </div>
      </ng-template>
      
    </div>
  </mat-dialog-content>
	
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Back</button>
    <button mat-raised-button color="warn" (click)="deleteUser()">DELETE USER</button>
  </div>
</div>
