<div class="content-wrapper">
	<mat-dialog-content>
    <div class="dialog-header">
      <h1 mat-dialog-title>Product details</h1>
    </div>

    <div id="dialog-content">
      <h3>Username</h3>
      <span>{{ user.userName }}</span>

      <h3>First Name</h3>
      <span>{{ user.firstName }}</span>

      <h3>Last Name</h3>
      <span>{{ user.lastName }}</span>

      <h3>Email</h3>
      <span>{{ user.email }}</span>

      <h3>Role</h3>
      <span>{{ UserRole[user.role] }}</span>

      <h3>Created On</h3>
      <span>{{ user.createdOn }}</span>

      <h3>Updated On</h3>
      <span>{{ user.updatedOn }}</span>
    </div>
  </mat-dialog-content>
	
  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Back</button>
    <button mat-raised-button color="warn">DELETE USER</button>
  </div>
</div>
