<mat-card class="products-list-card">
    <mat-card-header>
        <mat-card-title>Products</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-products-material-table [categories] = categories 
            (onOpenDialog)="openProductDetailDialog($event)" 
            (onGetProducts)="getProducts()"></app-products-material-table>
    </mat-card-content>
    <mat-card-actions>
        <app-icon-button [button]="newProductButton"
        ariaLabel="Add a new product"
        (click)="openAddProductDialog()">New product</app-icon-button>        
    </mat-card-actions>
</mat-card>


