<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar></mat-toolbar>
    @if(this._loginService.isLoggedIn && this._loginService.userRole == UserRole.Administrator) {
      <mat-nav-list>
        <a mat-list-item href="#" [routerLink]="['/admin/products']" routerLinkActive="active-link">Products</a>
        <a mat-list-item href="#" [routerLink]="['/admin/users']" routerLinkActive="active-link">Users</a>
      </mat-nav-list>
    } @else {
      <span class="section-title">Categories</span>
      <mat-nav-list>
        @for(category of categories; track category.id) {
          <a mat-list-item href="#" 
          [routerLink]="['/c', category.id]"
          routerLinkActive="active-link"
          >  
            {{category.name}}
          </a>
        }
      </mat-nav-list>
    }
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="mat-elevation-z6">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Online store</span>
      <span class="spacer"></span>
      <button mat-flat-button color="primary" type="button" (click)="logOut()" *ngIf="this._loginService.isLoggedIn$ | async; else logIn">Logout</button>
      <ng-template #logIn>
        <button mat-flat-button color="primary" type="button" (click)="navigateToLogIn()">Login</button>
      </ng-template>
    </mat-toolbar-row>
    @if(
      this._route.snapshot.firstChild?.firstChild !== null &&
      this._route.snapshot.firstChild?.firstChild !== undefined &&
      this._route.snapshot.firstChild!.url[0].toString() === 'c'
    ) {
      <mat-toolbar-row>
        <h2>{{ title() }}</h2>
      </mat-toolbar-row>
    }
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
