<mat-card class="categories-list-card">
    <mat-card-header>
        <mat-card-title>Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list role="list">
            <mat-list-item *ngFor="let category of categories">
                <div class="categories-list-item">
                    <span class="category-name">{{category.name}}</span>
                    <div class="actions">
                        <app-edit-button></app-edit-button>
                        <app-delete-button (click)="deleteCategory(category)"></app-delete-button>
                    </div>
                    
                </div>
            </mat-list-item>
        </mat-list>
        <form [formGroup]="newCategoryForm" id="addCategoryForm" *ngIf="addCategoryEnabled">
            <mat-form-field appearance="outline">
                <mat-label>Category name</mat-label>
                <input matInput #input type="text" placeholder="Category" formControlName="name">
            </mat-form-field>
            <app-add-image-button></app-add-image-button>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <app-new-category-button *ngIf="!addCategoryEnabled; else cancelAddCategoryButton" (click)="toggleAddCategory()"></app-new-category-button>
        <ng-template #cancelAddCategoryButton>
            <button mat-button color="primary" (click)="toggleAddCategory()">Cancel</button>
            <button mat-button color="primary" type="submit" form="addCategoryForm" (click)="submitCategory()">Add category</button>
        </ng-template>
    </mat-card-actions>
</mat-card>
