<mat-card class="categories-list-card">
    <mat-card-header>
        <mat-card-title>Categories</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <mat-list role="list">
            <mat-list-item *ngFor="let category of categories; index as i" [class]="isEditMode && i == editIndex ? 'categories-list-item-edit' : 'categories-list-item'">
                <div class="categories-list-item-content" *ngIf="isEditMode && i == editIndex; else displayMode">
                    <form [formGroup]="categoryForm" id="editCategoryForm" >
                        <mat-form-field appearance="outline" value="category.name">
                            <mat-label>Category name</mat-label>
                            <input matInput type="text" placeholder="Category" formControlName="name" value="Clothing">
                        </mat-form-field>
                        <app-icon-button [button]="addImageIconButton"
                        ariaLabel="Add image to this category"></app-icon-button>
                    </form>
                    <div class="actions">
                        <app-icon-button [button]="cancelIconButton"
                        ariaLabel="Cancel category edit"
                        (click)="disableEditMode()"></app-icon-button>
                        <app-icon-button [button]="doneIconButton"
                        ariaLabel="Save category"
                        (click)="editCategory(category.id)"></app-icon-button>
                    </div>
                </div>
                    
                <ng-template #displayMode>
                    <div class="categories-list-item-content">
                        <span class="category-name">{{category.name}}</span>
                        <div class="actions">
                            <app-icon-button [button]="editIconButton"
                            [disabled]="isAddCategoryMode"
                            (click)="enableEditMode(i, category.name)"></app-icon-button>
                            <app-icon-button [button]="deleteIconButton"
                            [disabled]="isAddCategoryMode"
                            (click)="deleteCategory(category.id)"></app-icon-button>
                        </div>
                    </div>
                </ng-template>
            </mat-list-item>
        </mat-list>
        <form [formGroup]="categoryForm" id="addCategoryForm" *ngIf="isAddCategoryMode">
            <mat-form-field appearance="outline">
                <mat-label>Category name</mat-label>
                <input matInput #input type="text" placeholder="Category" formControlName="name">
            </mat-form-field>
            <app-icon-button [button]="addImageIconButton"
            ariaLabel="Add image to this category"></app-icon-button>
        </form>
    </mat-card-content>
    <mat-card-actions *ngIf="isEditMode == false">
        <app-icon-button *ngIf="!isAddCategoryMode; else newCategoryActions" 
        [button]="newCategoryButton"
        ariaLabel="Add new category"
        (click)="toggleAddCategory()">New category</app-icon-button>
        <ng-template #newCategoryActions>
            <button mat-button color="primary" (click)="toggleAddCategory()">Cancel</button>
            <button mat-button color="primary" type="submit" form="addCategoryForm" (click)="submitCategory()">Add category</button>
        </ng-template>
    </mat-card-actions>
</mat-card>
