@switch(button.matButtonType) {
    @case ('mat-raised-button') {
        <button mat-raised-button aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
            @if(hasIcon) {
                <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
            }
            
        </button>
    }
    @case ('mat-stroked-button') {
        <button mat-stroked-button aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
            @if(hasIcon) {
                <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
            }
        </button>
    }
    @case ('mat-flat-button') {
        <button mat-flat-button aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
            @if(hasIcon) {
                <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
            }
        </button>
    }
    @case ('mat-icon-button') {
        <button mat-icon-button aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
        </button>
    }
    @case ('mat-fab') {
        <button mat-fab aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
        </button>
    }
    @case ('mat-mini-fab') {
        <button mat-mini-fab aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
        </button>
    }
    @case ('mat-extended-fab') {
        <button mat-fab extended aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
            <ng-container [ngTemplateOutlet]="content"></ng-container>
        </button>
    }
    @default {
        <button mat-button aria-hidden="false" 
        attr.aria-label="{{ ariaLabel }}" 
        [color]="button.color !== undefined ? button.color : null"
        [disabled]="disabled">
            <ng-container [ngTemplateOutlet]="content"></ng-container>
            @if(hasIcon) {
                <mat-icon [svgIcon]="button.icon!.iconName"></mat-icon>
            }
        </button>
    }
}

<ng-template #content>
    <ng-content></ng-content>
</ng-template>