h1
    margin-bottom: 50px

#products-management-container
    max-width: 700px
    margin-left: auto
    margin-right: auto
    #management-cards
        display: flex
        flex-direction: column
        justify-content: stretch
        gap: 25px
        #categories-list
            width: 100%
            max-width: 700px


@media only screen and (min-width: 1185px)
    #products-management-container
        max-width: 1300px
        #management-cards
            flex-direction: row
            justify-content: space-between
            #products-list
                flex-shrink: 1
            #categories-list
                flex-shrink: 4
                min-width: 300px
                max-width: 400px
