.full-width-table {
  width: 100%;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0px !important
}

.mdc-data-table__cell:first-child, .mdc-data-table__header-cell:first-child {
  padding: 0 0 0 16px !important
}

/* .mdc-data-table__cell:last-child, .mdc-data-table__header-cell:last-child {
  padding: 0 0 0 0 !important
} */



@media only screen and (min-width: 447px) {
  .mdc-data-table__cell:nth-child(3) {
    padding: 0 0 0 16px !important
  }
  .mdc-data-table__header-cell:nth-child(3) {
    padding: 0 16px 0 16px !important
  }
}

@media only screen and (min-width: 600px) {
  /* .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0 16px 0 16px !important
  } */
}